@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-button-next,
.swiper-button-prev {
  color: red !important;
  top: 4.5rem !important;
}

.swiper-slide{
  width: 11rem !important;
  margin-inline: 2.38rem ;
}

.swiper-wrapper{
  margin-bottom: 4rem;
} */