body{
  height: 100vh;
  align-content: center;
  margin: 0;
  padding: 0;
}

main{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  font-size: large;
}

.input{
  grid-column: 1 / 5;
  background-color: green;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: larger;
  padding: 0 10px;
  text-align: end;
}

.clear, .equal, .btn{
  border-radius: 5px;
  text-align: center;
  align-content: center;
  background-color: white;
  cursor: pointer;
}

.clear:hover, .equal:hover, .btn:hover{
  opacity: 0.8;
}

.equal{
  background-color: lime;
  grid-row: 4 / 7;
  grid-column: 4 / 5;
  color: white;
}

.clear{
  background-color: red;
  color: white;
}

.operator{
  background-color: blue;
  color: white;
}