@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .carousel-padding{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    z-index: 1;
  }
  .padding-after{
    right: 0;
    /* background-image: linear-gradient(to right, rgba(255,255,255,0), #e7fb04); */
  }
  .padding-before{
    /* background-image: linear-gradient(to left, rgba(255,255,255,0), #e7fb04); */
    left: 0;
  }
}