.main-contact{
  display: flex;
  background-color: aqua;
  justify-content: space-evenly;
  background-color: #292e33;
  color: white;
  height: calc(100vh - 50px);
  align-items: center;
}

.main-contact .contact-details{
  width: 40%;
}

.main-contact .contact-details h1{
  font-size: 80px;
  margin-bottom: 20px;
}

.main-contact .contact-details p{
  font-size: 18px;
  line-height: 28px;
}

.main-contact .contact-details p:last-child{
  margin-top: 25px;
}

.main-contact .contact form{
  display: flex;
  flex-direction: column;
}

.main-contact .contact form input, .main-contact .contact form textarea:nth-child(3){
  width: 400px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  font-size: 15px;
}

.main-contact .contact form textarea:nth-child(3){
  height: 150px;
  padding: 20px 20px;
}

.main-contact .contact form button{
  height: 50px;
  background-color: transparent;
  color: white;
  border: 2px white solid;
  cursor: pointer;
}

.main-contact .contact form button:hover{
  background-color: white;
  color: #292e33;
}