.navbar{
  height: 50px;
  width: 100%;
  background-color: royalblue;
  align-content: center;
  padding: 0 20px;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 40px;
  cursor: pointer;
  animation: rotation 5s infinite linear;
}

.logo:hover{
  animation-play-state: paused;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.nav-center{
  display: flex;
  gap: 30px;
}

.nav-center p a{
  text-decoration: none;
  color: white;
}

.nav-center p:hover{
  text-decoration: underline;
  opacity: 0.8;
  cursor: pointer;
  opacity: 0.8;
  transform: translate(0, -2px);
}