@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: red !important; /* Mengubah warna panah */
  top: 4.5rem !important;
  /* margin: 1rem;  */
}

.swiper-slide{
  width: 11rem !important;
  margin-inline: 2.5rem ;
}

.swiper-wrapper{
  margin-bottom: 3rem;
}